@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Stora App Custom Styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Capitalize first letter */
.capitalize-first::first-letter {
  text-transform: uppercase;
}